extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Jacks Coins
    div.Message
      div.Title
        h3 Find crypto exchange rates
        h1 Find all the top rates
      span.Details Access the exchange rates portal
    div.NavButtons
      a(href="/user")
          div.NavButton Exchange Rates
